@page "/EditTecnico/{TecnicoId:int}"
@rendermode InteractiveServer
@inject tecnicosServices tecnicosServices
@inject NavigationManager navigation

<PageTitle>@(tecnico != null ? "Editar técnico" : "Crear nuevo técnico")</PageTitle>

<EditForm Model="@tecnico" OnValidSubmit="@Guardar">
    <DataAnnotationsValidator />
    <div class="container">
        <div class="card shadow-lg">
            <div class="card-header">
                <h1><strong>@(tecnico != null ? "Editar técnico" : "Crear nuevo técnico")</strong></h1>
            </div>
            <div class="card-body">
                <label class="form-label" for="id"><strong>TecnicoId</strong></label>
                <InputNumber id="id" class="form-control" @bind-Value="tecnico.TecnicosId"></InputNumber>
                <label class="form-label" for="nombre"><strong>Nombres</strong></label>
                <InputText id="nombre" class="form-control" @bind-Value="tecnico.nombres"></InputText>
                <ValidationMessage For="@(()=> tecnico.nombres)"></ValidationMessage>
                <label class="form-label" for="sueldo"><strong>Sueldo por hora</strong></label>
                <InputNumber id="sueldo" class="form-control" @bind-Value="tecnico.sueldohoras" min="0"></InputNumber>
                <ValidationMessage For="@(()=> tecnico.sueldohoras)"></ValidationMessage>
            </div>
            <div class="card-footer">
                <button type="button" class="btn btn-outline-secondary" @onclick="Volver">Volver</button>
                <button type="submit" class="btn btn-outline-success bi bi-floppy"> @(tecnico != null ? "Guardar cambios" : "Crear")</button>
            </div>
        </div>
    </div>
</EditForm>

@code {
    [Parameter]
    public int TecnicoId { get; set; }

    public tecnicos tecnico { get; set; }

    protected override async Task OnInitializedAsync()
    {
        if (TecnicoId > 0)
        {
            tecnico = await tecnicosServices.Buscar(TecnicoId);
        }
        else
        {
            tecnico = new tecnicos();
        }
    }

    public async Task Guardar()
    {
        var guardado = await tecnicosServices.Guardar(tecnico);
        if(guardado){
            navigation.NavigateTo("/Tecnico");
        }
        else
        {
            Volver();
            //Mensaje error
        }
    }

    public void Volver()
    {
        navigation.NavigateTo("/Tecnico");
    }
}
